.theme-light .side-dock-ribbon-action {
  color: rgb(143, 98, 48);
  transition: color .25s ease-in-out;
}
.theme-dark .side-dock-ribbon-action {
  color: rgb(247, 243, 213);;
  transition: color .25s ease-in-out;
}